--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: application_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.application_status AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.application_status OWNER TO postgres;

--
-- Name: city_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.city_enum AS ENUM (
    'norilsk',
    'talnah',
    'kayerkan',
    'oganeer',
    'dudinka'
);


ALTER TYPE public.city_enum OWNER TO postgres;

--
-- Name: parsed_process_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.parsed_process_status_enum AS ENUM (
    'new',
    'processed',
    'rejected',
    'error'
);


ALTER TYPE public.parsed_process_status_enum OWNER TO postgres;

--
-- Name: parsed_target_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.parsed_target_type_enum AS ENUM (
    'event',
    'news',
    'unknown'
);


ALTER TYPE public.parsed_target_type_enum OWNER TO postgres;

--
-- Name: role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.role_enum AS ENUM (
    'user',
    'admin',
    'organizator'
);


ALTER TYPE public.role_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()),
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()),
    deleted_at timestamp without time zone,
    name character varying NOT NULL,
    description character varying,
    group_id integer,
    external_url character varying,
    date_event date,
    location character varying,
    duration time without time zone,
    city character varying,
    price integer,
    address character varying,
    age_limit character varying,
    picture_url character varying,
    horizontal_picture_url character varying
);


ALTER TABLE public.event OWNER TO postgres;

--
-- Name: event_groups_event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_groups_event (
    event_id integer NOT NULL,
    groups_id integer NOT NULL
);


ALTER TABLE public.event_groups_event OWNER TO postgres;

--
-- Name: event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.event_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.event_id_seq OWNER TO postgres;

--
-- Name: event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.event_id_seq OWNED BY public.event.id;


--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    deleted_at timestamp without time zone,
    name character varying NOT NULL,
    description character varying,
    organization integer,
    city public.city_enum,
    price double precision,
    address character varying,
    age_limit character varying,
    pictures_main character varying,
    pictures_two character varying,
    external_url text
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: group_event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.group_event (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()),
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()),
    deleted_at timestamp without time zone,
    name character varying NOT NULL,
    description character varying
);


ALTER TABLE public.group_event OWNER TO postgres;

--
-- Name: group_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.group_event_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.group_event_id_seq OWNER TO postgres;

--
-- Name: group_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.group_event_id_seq OWNED BY public.group_event.id;


--
-- Name: groups_event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.groups_event (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    deleted_at timestamp without time zone,
    name character varying NOT NULL,
    description character varying
);


ALTER TABLE public.groups_event OWNER TO postgres;

--
-- Name: groups_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.groups_event_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.groups_event_id_seq OWNER TO postgres;

--
-- Name: groups_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.groups_event_id_seq OWNED BY public.groups_event.id;


--
-- Name: info_org; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.info_org (
    id integer NOT NULL,
    user_id integer,
    organization character varying,
    phone_number character varying
);


ALTER TABLE public.info_org OWNER TO postgres;

--
-- Name: info_org_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.info_org_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.info_org_id_seq OWNER TO postgres;

--
-- Name: info_org_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.info_org_id_seq OWNED BY public.info_org.id;


--
-- Name: info_organization; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.info_organization (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    deleted_at timestamp without time zone,
    name_org character varying NOT NULL,
    address character varying,
    organizator character varying,
    description text,
    picture_org character varying,
    external_url text
);


ALTER TABLE public.info_organization OWNER TO postgres;

--
-- Name: info_organization_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.info_organization_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.info_organization_id_seq OWNER TO postgres;

--
-- Name: info_organization_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.info_organization_id_seq OWNED BY public.info_organization.id;


--
-- Name: news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    deleted_at timestamp without time zone,
    name character varying NOT NULL,
    address character varying,
    organizator character varying,
    organization integer
);


ALTER TABLE public.news OWNER TO postgres;

--
-- Name: news_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.news_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.news_id_seq OWNER TO postgres;

--
-- Name: news_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.news_id_seq OWNED BY public.news.id;


--
-- Name: organizer_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizer_applications (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    deleted_at timestamp without time zone,
    user_id integer NOT NULL,
    status public.application_status DEFAULT 'pending'::public.application_status NOT NULL,
    message text,
    review_comment text,
    reviewed_by integer,
    reviewed_at timestamp without time zone
);


ALTER TABLE public.organizer_applications OWNER TO postgres;

--
-- Name: organizer_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.organizer_applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organizer_applications_id_seq OWNER TO postgres;

--
-- Name: organizer_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.organizer_applications_id_seq OWNED BY public.organizer_applications.id;


--
-- Name: parsed_event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parsed_event (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()),
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()),
    deleted_at timestamp without time zone,
    source_key character varying NOT NULL,
    source_name character varying NOT NULL,
    name character varying NOT NULL,
    description character varying,
    date_event character varying,
    duration character varying,
    city character varying,
    price character varying,
    address character varying,
    organization character varying,
    age_limit character varying,
    external_url character varying,
    target_type public.parsed_target_type_enum DEFAULT 'unknown'::public.parsed_target_type_enum NOT NULL,
    process_status public.parsed_process_status_enum DEFAULT 'new'::public.parsed_process_status_enum NOT NULL,
    processed_at timestamp without time zone,
    error_text text,
    pictures_main character varying,
    pictures_two character varying,
    start_time character varying
);


ALTER TABLE public.parsed_event OWNER TO postgres;

--
-- Name: parsed_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.parsed_event_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.parsed_event_id_seq OWNER TO postgres;

--
-- Name: parsed_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.parsed_event_id_seq OWNED BY public.parsed_event.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    deleted_at timestamp without time zone,
    user_id integer NOT NULL,
    role public.role_enum DEFAULT 'user'::public.role_enum NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: times_event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.times_event (
    id integer NOT NULL,
    event_id integer NOT NULL,
    date_event timestamp without time zone NOT NULL,
    start_time time without time zone NOT NULL
);


ALTER TABLE public.times_event OWNER TO postgres;

--
-- Name: times_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.times_event_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.times_event_id_seq OWNER TO postgres;

--
-- Name: times_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.times_event_id_seq OWNED BY public.times_event.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()),
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()),
    deleted_at timestamp without time zone,
    username character varying NOT NULL,
    password_hash character varying NOT NULL,
    preferences integer[],
    refresh_token character varying,
    email character varying,
    is_org boolean,
    date_of_birth character varying,
    like_events integer[]
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_groups_event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_groups_event (
    user_id integer NOT NULL,
    groups_id integer NOT NULL
);


ALTER TABLE public.user_groups_event OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: user_to_event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_to_event (
    user_id integer NOT NULL,
    event_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.user_to_event OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    created_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    update_at timestamp without time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    deleted_at timestamp without time zone,
    username character varying NOT NULL,
    password_hash character varying NOT NULL,
    email character varying NOT NULL,
    date_of_birth date NOT NULL,
    refresh_token character varying
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: event id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event ALTER COLUMN id SET DEFAULT nextval('public.event_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: group_event id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.group_event ALTER COLUMN id SET DEFAULT nextval('public.group_event_id_seq'::regclass);


--
-- Name: groups_event id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.groups_event ALTER COLUMN id SET DEFAULT nextval('public.groups_event_id_seq'::regclass);


--
-- Name: info_org id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.info_org ALTER COLUMN id SET DEFAULT nextval('public.info_org_id_seq'::regclass);


--
-- Name: info_organization id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.info_organization ALTER COLUMN id SET DEFAULT nextval('public.info_organization_id_seq'::regclass);


--
-- Name: news id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news ALTER COLUMN id SET DEFAULT nextval('public.news_id_seq'::regclass);


--
-- Name: organizer_applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer_applications ALTER COLUMN id SET DEFAULT nextval('public.organizer_applications_id_seq'::regclass);


--
-- Name: parsed_event id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parsed_event ALTER COLUMN id SET DEFAULT nextval('public.parsed_event_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: times_event id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.times_event ALTER COLUMN id SET DEFAULT nextval('public.times_event_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
48f31dbfc437
\.


--
-- Data for Name: event; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.event (id, created_at, update_at, deleted_at, name, description, group_id, external_url, date_event, location, duration, city, price, address, age_limit, picture_url, horizontal_picture_url) FROM stdin;
2	2026-04-23 09:02:22.667966	2026-04-23 09:02:22.667966	\N	╨б╨┐╨╡╨║╤В╨░╨║╨╗╤М ╨У╨╛╨╗╤Г╨▒╤Ж╤Л ╨┐╨╛ ╨╛╨▒╤К╤П╨▓╨╗╨╡╨╜╨╕╤О	╨н╤В╨╛ ╤Е╨╛╤А╨╛╤И╨╕╨╣ ╤Б╨┐╨╡╨║╤В╨░╨║╨╗╤М ╨┐╤А╨╛ ╨░╨▒╤Б╤Г╤А╨┤╨╜╤Г╤О ╤Б╨╕╤В╤Г╨░╤Ж╨╕╤О, ╨┐╤А╨╛╨╕╨╖╨╛╤И╨╡╨┤╤И╤Г╤О ╨▓ ╨╛╨┤╨╜╨╛╨╣ ╨┐╤А╨╛╤Б╤В╨╛╨╣ ╨╜╨░ ╨▓╨╕╨┤ ╤Б╨╡╨╝╤М╨╡	1	string	2026-04-23	╨Э╨╛╤А╨╕╨╗╤М╤Б╨║	09:01:26.39	string	100	string	string	string	string
\.


--
-- Data for Name: event_groups_event; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.event_groups_event (event_id, groups_id) FROM stdin;
1	1
2	1
3	5
5	5
6	5
10	5
27	1
30	4
31	2
32	7
33	2
34	2
35	2
36	2
37	2
38	2
39	2
40	2
41	2
42	6
43	9
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: group_event; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.group_event (id, created_at, update_at, deleted_at, name, description) FROM stdin;
1	2025-09-12 08:28:24.687085	2025-09-12 08:28:24.687085	\N	╨в╨╡╨░╤В╤А	╨Ч╨┤╨╡╤Б╤М ╨▓╤Б╤С ╨┐╤А╨╛ ╤В╨╡╨░╤В╤А
\.


--
-- Data for Name: groups_event; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: info_org; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.info_org (id, user_id, organization, phone_number) FROM stdin;
\.


--
-- Data for Name: info_organization; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organizer_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizer_applications (id, created_at, updated_at, deleted_at, user_id, status, message, review_comment, reviewed_by, reviewed_at) FROM stdin;
\.


--
-- Data for Name: parsed_event; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, created_at, update_at, deleted_at, user_id, role) FROM stdin;
1	2026-06-23 13:07:13.498423	2026-06-23 13:07:13.498423	\N	1	user
2	2026-06-23 13:16:19.001383	2026-06-23 13:16:29.114264	\N	2	admin
3	2026-06-23 14:18:37.312295	2026-06-23 14:18:37.312295	\N	3	user
\.


--
-- Data for Name: times_event; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_groups_event; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_groups_event (user_id, groups_id) FROM stdin;
1	1
1	3
1	5
1	7
2	1
2	2
2	3
3	1
3	2
3	3
3	4
3	5
3	6
3	7
3	8
3	9
\.


--
-- Data for Name: user_to_event; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_to_event (user_id, event_id, created_at, update_at, deleted_at) FROM stdin;
1	2	2026-06-23 13:28:37.676785	2026-06-23 13:28:37.676785	\N
3	36	2026-06-23 14:45:25.521834	2026-06-23 14:45:25.521834	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.event_id_seq', 2, true);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.events_id_seq', 43, true);


--
-- Name: group_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.group_event_id_seq', 1, true);


--
-- Name: groups_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.groups_event_id_seq', 9, true);


--
-- Name: info_org_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.info_org_id_seq', 1, false);


--
-- Name: info_organization_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.info_organization_id_seq', 12, true);


--
-- Name: news_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_id_seq', 27, true);


--
-- Name: organizer_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizer_applications_id_seq', 1, false);


--
-- Name: parsed_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.parsed_event_id_seq', 108, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: times_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.times_event_id_seq', 100, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: event_groups_event event_groups_event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_groups_event
    ADD CONSTRAINT event_groups_event_pkey PRIMARY KEY (event_id, groups_id);


--
-- Name: event event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event
    ADD CONSTRAINT event_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: group_event group_event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.group_event
    ADD CONSTRAINT group_event_pkey PRIMARY KEY (id);


--
-- Name: groups_event groups_event_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.groups_event
    ADD CONSTRAINT groups_event_name_key UNIQUE (name);


--
-- Name: groups_event groups_event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.groups_event
    ADD CONSTRAINT groups_event_pkey PRIMARY KEY (id);


--
-- Name: info_org info_org_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.info_org
    ADD CONSTRAINT info_org_pkey PRIMARY KEY (id);


--
-- Name: info_organization info_organization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.info_organization
    ADD CONSTRAINT info_organization_pkey PRIMARY KEY (id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: organizer_applications organizer_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer_applications
    ADD CONSTRAINT organizer_applications_pkey PRIMARY KEY (id);


--
-- Name: organizer_applications organizer_applications_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer_applications
    ADD CONSTRAINT organizer_applications_user_id_key UNIQUE (user_id);


--
-- Name: parsed_event parsed_event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parsed_event
    ADD CONSTRAINT parsed_event_pkey PRIMARY KEY (id);


--
-- Name: parsed_event parsed_event_source_name_date_start_time_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parsed_event
    ADD CONSTRAINT parsed_event_source_name_date_start_time_key UNIQUE (source_key, name, date_event, start_time);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: roles roles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_user_id_key UNIQUE (user_id);


--
-- Name: times_event times_event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.times_event
    ADD CONSTRAINT times_event_pkey PRIMARY KEY (id);


--
-- Name: user_groups_event user_groups_event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_groups_event
    ADD CONSTRAINT user_groups_event_pkey PRIMARY KEY (user_id, groups_id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user_to_event user_to_event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_to_event
    ADD CONSTRAINT user_to_event_pkey PRIMARY KEY (user_id, event_id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: event event_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event
    ADD CONSTRAINT event_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.group_event(id);


--
-- Name: event_groups_event event_groups_event_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_groups_event
    ADD CONSTRAINT event_groups_event_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: event_groups_event event_groups_event_groups_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_groups_event
    ADD CONSTRAINT event_groups_event_groups_id_fkey FOREIGN KEY (groups_id) REFERENCES public.groups_event(id);


--
-- Name: events events_organization_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_organization_fkey FOREIGN KEY (organization) REFERENCES public.info_organization(id);


--
-- Name: info_org info_org_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.info_org
    ADD CONSTRAINT info_org_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: news news_organization_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_organization_fkey FOREIGN KEY (organization) REFERENCES public.info_organization(id);


--
-- Name: organizer_applications organizer_applications_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer_applications
    ADD CONSTRAINT organizer_applications_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: organizer_applications organizer_applications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer_applications
    ADD CONSTRAINT organizer_applications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: roles roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: times_event times_event_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.times_event
    ADD CONSTRAINT times_event_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: user_groups_event user_groups_event_groups_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_groups_event
    ADD CONSTRAINT user_groups_event_groups_id_fkey FOREIGN KEY (groups_id) REFERENCES public.groups_event(id);


--
-- Name: user_groups_event user_groups_event_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_groups_event
    ADD CONSTRAINT user_groups_event_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_to_event user_to_event_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_to_event
    ADD CONSTRAINT user_to_event_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: user_to_event user_to_event_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_to_event
    ADD CONSTRAINT user_to_event_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

