@import './styles/datepicker.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #8499ee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  min-width: 360px;
}
